:root {
    --accent-color: #2196F3;
    --logo-color: #000000;
    --title-color: #FFFFFF;
    --desk-color: #757575;
    --color: #212121;
    --background-color1: #F5F4FA;
    --background-color: #2F303A;
    --main-font: "Raleway" , "sans-serif";
    --second-font: "Roboto" , "sans-serif";
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

 
 body {
 
     color: #757575;
     background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
.container {
     width: 1170px;
     margin: 0 auto;
}

.header-container{
  display: flex;
}

.details {
  padding-bottom: 94px;
}

.doing {
  padding-bottom: 94px;
}

.team {
  
  background-color: var(--background-color1);
}

.header{
  padding: 25px 0px;
}

.header-container{
  display: flex;
  align-items: center;
  gap: 244px;
}

.header-right-side{
  display: flex;
  align-items: center;
}

.header-list{
  display: flex;
  gap: 50px;
}

.nav-list{
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header-logo-link{
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
  text-decoration: none;
}

.header-logo-link > span{
  color: var(--accent-color);
}

.nav-link{
  color: var(--logo-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.nav-link:hover{
  color: var(--accent-color);
}

.header-mail, .header-phone{
  color: var(--primary-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.header-mail:hover, .header-phone:hover{
  color: var(--accent-color);
}
.hero {
    padding-top: 200px;
    padding-bottom: 280px;
   background-color: var(--background-color);
}
.hero-title{
  color: var(--title-color);
  font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
display: flex;
justify-content: center;
padding-bottom: 30px;
}
.hero-button{
  margin:  0 auto;
  background-color: #2196F3;
border-width: 0;
width: 216px;
height: 50px;
border-radius: 10px;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
color: #fff;
display: flex;
align-items: center;
text-align: center;
padding-left: 32px;
}
.details-list{
  list-style: none;
}

.details {
    padding-bottom: 94px;
    padding-top: 94px;
}
.details-title{
  content: "";
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;
}
.details-text{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}

.doing-title {
    padding-bottom: 50px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.doing-item {
    padding-bottom: 94px;
   
}
.doing-list{
  list-style: none;
  
}

.team-title {
    padding-top: 94px;
    padding-bottom: 50px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;

}

.team-list {
    padding-bottom: 94px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}
.team-item{
  background-color: white;
  padding-bottom: 30px;
}




.control {
  margin-top: 94px;
  margin-bottom: 34px;
}

.portfolio-item{
  margin-bottom: 30px;
} 
.details-list{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.doing-list{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
span{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}



.team-img{
  width: 270px;
height: 260px;
}
.team-name{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
padding-top: 30px;
  padding-bottom: 10px;
}
.team-role{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}

.footer{
  padding: 60px 0px;
  background-color: var(--background-color);
}

.footer-container{
  display: flex;
  flex-direction: column;
}

.footer-logo-link{
  color: var(--title-color);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
  text-decoration: none;
}

.footer-logo-link > span{
  color: var(--accent-color);
}

.footer-address{
  margin-top: 20px;
}

.footer-address-list{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-item-address{
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.footer-mail, .footer-phone{
  color: var(--desk-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}
 
