:root {
    --accent-color: #2196F3;
    --logo-color: #000000;
    --title-color: #FFFFFF;
    --desk-color: #757575;
    --color: #212121;
    --background-color1: #F5F4FA;
    --background-color: #2F303A;
    --main-font: "Raleway" , "sans-serif";
    --second-font: "Roboto" , "sans-serif";
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

 
 body {
 
     color: #757575;
     background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
.container {
     width: 1170px;
     margin: 0 auto;
}

.header {
  margin-bottom: 80px;
}
.header-container{
  display: flex;
}

.details {
  margin-bottom: 94px;
}

.doing {
  margin-bottom: 94px;
}

.team {
  margin-bottom: 34px;
  background-color: var(--background-color1);
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
color: var(--logo-color);
}

.nav-list{
 padding-top: 32px;
 padding-bottom: 32px;
     display: flex;
     gap: 50px;
     list-style: none;
}
.nav-link:hover{
  text-decoration: none;
  color: var(--accent-color);
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;

}
.nav-link{
  text-decoration: none;
  color: #000000;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
 
}
.contact-link:hover{
  padding-left: 344px;
  text-decoration: none;
color: var(--accent-color);
}
.contact-link{
  padding-left: 344px;
  text-decoration: none;
color: var(--desk-color);
}

.header-contact{
  display: flex;
  list-style: none;
}
.hero {
    padding-top: 200px;
    padding-bottom: 280px;
   background-color: var(--background-color);
}
.hero-title{
  color: var(--title-color);
  font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
display: flex;
flex-wrap: wrap;
}
.hero-button{
  margin:  0 auto;
  background-color: #2196F3;
border-width: 0;
width: 216px;
height: 50px;
border-radius: 10px;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
color: #fff;
display: flex;
align-items: center;
text-align: center;
}
.details-list{
  list-style: none;
}

.details {
    padding-bottom: 94px;
}
.details-title::before{
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
background-image: ("");
}
.details-text{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}

.doing-title {
    padding-bottom: 50px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.doing-item {
    padding-bottom: 94px;
}
.doing-list{
  list-style: none;
}

.team-title {
    padding-top: 94px;
    padding-bottom: 50px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.team-list {
    padding-bottom: 94px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer-address {
    padding-bottom: 60px;
}


.control {
  margin-top: 94px;
  margin-bottom: 34px;
}

.portfolio-item{
  margin-bottom: 30px;
} 
.details-list{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.doing-list{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.span{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

.footer-logo{
  text-decoration: none;
  color: var(--title-color);
  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
}
.footer{
  background-color: var(--background-color);
}
.footer-list{
  list-style: none;
}
.footer-text{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}
.footer-link{
  text-decoration: none;
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.team-img{
  width: 270px;
height: 260px;
}
.team-name{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team-role{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
