:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --title-color: #ffffff;
  --desk-color: #757575;
  --color: #212121;
  --background-color1: #f5f4fa;
  --background-color: #2f303a;
  --main-font: "Raleway", "sans-serif";
  --second-font: "Roboto", "sans-serif";
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
:root{

  --white: #fff;
  --black: #000;
  --backgroung-base: #fff;
  --background-dark: #2F303A;
  --background-dimmed: #F5F4FA;
  --primary-text: #757575;
  --secondary-text: #FFFFFF;
  --primary-title: #212121;
  --secondary-title: #FFFFFF;
  --hover-link: #2196F3;
  --btn-background-highlight: #2196F3;
  --btn-background-dimmed: #F5F4FA;
  --btn-color-light: #FFFFFF;
  --logo-span: #2196F3;
  --wrap-border: #eee;

}