.clients-title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-top: 94px;
margin-bottom: 50px;
}
.icon-client{
 fill: #AFB1B8;
  margin-bottom: 110px;
  border: 1px solid   #AFB1B8;
  border-radius: 4px;
}
.icon-second-client{
  fill: #AFB1B8;
  margin-bottom: 110px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
} 
.icon-third-client{
   fill: #AFB1B8;
  margin-bottom: 110px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.icon-fourth-client{
  fill: #AFB1B8;
  margin-bottom: 110px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.icon-fifth-client{
   fill: #AFB1B8;
  margin-bottom: 110px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.icon-sixth-client{
  fill: #AFB1B8;
  margin-bottom: 110px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.second-icon-list{
  display: flex;
  justify-content: center;
  gap: 30px;
}
