.header-container {
  display: flex;
}
.header {
  padding: 25px 0px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 244px;
}

.header-cover {
  display: flex;
  align-items: center;
}

.header-list-two {
  display: flex;
  gap: 50px;
}

.header-list-one {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header-logo-link {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
  text-decoration: none;
}

.header-logo-link > span {
  color: var(--accent-color);
}

.header-link {
  color: var(--logo-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-mail,
.header-phone {
  color: var(--primary-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.header-mail:hover,
.header-phone:hover {
  color: var(--accent-color);
}
.header-link::after {
content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -28px;
    left: 0;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}
.header-link{
  position: relative;
    text-decoration: none;
    cursor: default; 
    transition: color 0.3s ease;
}
.header-link:hover{
  color: var(--accent-color);
}
.header-link:hover::after{
  background-color: var(--accent-color);
}