body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
body{
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.container{
  width: 1250px;
  margin: 0 auto;
}

a, p, ul, li, h1, h2, h3{
  padding: 0px;
  margin: 0px;
}